.main-section
{
    min-height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
}

body
{
    margin: 0;
    padding: 0;
    background-color: #9BC700;
    font-family: 'Press Start 2P',monospace;
}

header
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #9BBF7A;

}

.Separador
{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 98%;
    align-self: center;
}

.Separador hr
{
    width: 100%;
    border: none;
    border-top: 2px solid black;
    margin: 0;
}

:root
{
    --cell-size: 20px;
    --num-cols:30;
    --num-rows:10;
    --Snake--ScaleFactorX : 1;
    --Snake--Rot : 0deg;
}

.Playground
{
    display: grid;
    justify-content: center;
    align-self: center;
    
    min-height: 80vh;
    width: 98%;
    border: 2px solid black;

    grid-template-columns: repeat(var(--num-cols), var(--cell-size));
    grid-template-rows: repeat(var(--num-rows), var(--cell-size));
    margin-top: 30px;
    margin-bottom: 30px;
}



footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9BBF7A;
}


.snake-head
{
    width: var(--cell-size);
    height: var(--cell-size);
    background-image: url(../assets/Cabeza_Serpiente.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(var(--Snake--Rot)) scaleX(var(--Snake--ScaleFactorX));
}

.snake-body
{
    width: var(--cell-size);
    height: var(--cell-size);
    background-image: url(../assets/Cuerpo_Serpiente.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(var(--Snake--Rot)) scaleX(var(--Snake--ScaleFactorX));
}

.snake-tail
{
    width: var(--cell-size);
    height: var(--cell-size);
    background-image: url(../assets/Cola_Serpiente.png);
    background-size: contain;
    background-repeat: no-repeat;
    transform: rotate(var(--Snake--Rot)) scaleX(var(--Snake--ScaleFactorX));
}

.apple
{
    width: var(--cell-size);
    height: var(--cell-size);
    background-image: url(../assets/Manzana.png);
    background-size: cover;
    background-repeat: no-repeat ;
}

.Death-Screen
{
    background-color: black;
    border: solid white 2px;
    display: none;        

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

#Death-Image
{
    border: solid white 2px;
    width: 50%;
    height: auto;
    margin-bottom: 20px;
}